/* container for all of the page */
.complete {
  background-image: url(https://www.planetware.com/wpimages/2021/04/ohio-cleveland-attractions-overview-evening-river.jpg);
}
.complete:hover {
  cursor: url(https://cur.cursors-4u.net/toons/too-11/too1009.png), auto !important;
}
.all {
  background: #f0aecc;
  padding: 8px 20px;
  border-radius: 25px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}
.all:hover {
  cursor: url(https://cur.cursors-4u.net/toons/too-11/too1009.png), auto !important;
}
.header {
  font-family: "Rubik", sans-serif;
  background: #f0aecc;
}
.footer {
  font-family: "Rubik", sans-serif;
  background: #f0aecc;
}
