/* container for all of the page */
.complete {
  background-image: url(https://www.planetware.com/wpimages/2021/04/ohio-cleveland-attractions-overview-evening-river.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.complete:hover {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur267.cur), auto !important;
}
.all {
  background: #97d5fe;
  padding: 8px 20px;
  border-radius: 25px;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
}
.all:hover {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur267.cur), auto !important;
}
.header {
  font-family: "Nanum Gothic", sans-serif;
  background: #f0aecc;
  padding: 7px 10px 5px 10px;
}
.footer {
  font-family: "Nanum Gothic", sans-serif;
  background: #f0aecc;
  padding: 7px 10px 5px 10px;
}
